[Unit]
Description=Geonetwork INDE service

[Container]
Image=ghcr.io/sandroklippel/geonetwork-inde:latest
EnvironmentFile=/opt/gn.env
PublishPort=8080:8080

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
